@tailwind base;
@tailwind components;
@tailwind utilities;
.bgImg {
  background-image: url("../../img/iphonetwo.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 300px;
}
